<section class="home vh-100 ">
  <app-navbar>
    
  </app-navbar>

 



  <div class="header-home overflow-hidden d-flex justify-content-center align-items-center">
    <div class="container pt-3 mt-5">
      <div class="row g-5">
        <div class="col-md-8 text-center">
          <div class="title-border  pb-3 mx-auto">
            <h1 class="header-title home-vet text-center">
              Welcome to VetICare Connect
            </h1>
          </div>
          <div>
            <img
              class="w-100"
              src="../../../../assets/images/wepik-export-20240314091253MhfO.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4">
          <p class="text-home">
            Discover the Future of Veterinary Clinic Management Empower your
            clinic with VetICare Connect – The Ultimate Solution for Streamlined
            Veterinary Care.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="home-body-title py-4 text-center mx-auto home-title-border w-75">
    <p class="body-request">request demo</p>
    <button  class="w-25 px-3 demo-btn py-2 rounded text-white"> <a href="https://docs.google.com/forms/d/e/1FAIpQLSeyYwgsXRMMiPykRRJkJQLA3AF3SWoRlfLmRGvdw6-SKi1gzw/viewform" class="text-white text-decoration-none" target="_blank">Demo</a></button>
  </div>

  <div class="home-body text-center py-5">
    <div>
      <h1 class="home-title pb-2">KEY FEATURES VETICARE</h1>

      <span style="color: #000000; font-family: Arial; font-weight: 400"
        >Explore Our Comprehensive Features</span
      >
    </div>

    <div class="container py-5">
      <div class="row g-4">
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/01.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/02.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/03.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/04.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/05.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/06.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/07.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/08.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/09.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="squeak py-4 text-center">
    <div class="squeak-title">
      <p>Squeak</p>
    </div>

    <div class="py-4">
      <div class="container">
        <div class="row g-4">
          <div class="col-md-6">
            <img
              class="w-100"
              src="../../../../assets/images/dog-puppy-cute-fluffy-pet-wallpaper-preview.jpg"
              alt=""
            />
          </div>
          <div class="col-md-6 text-start pb-3">
            <h1 class="squeak-par-title mb-3 pb-2">
              Seamless Communication for Pets and Clients
            </h1>

            <p class="squeak-par pt-2">
              Squeak," our unique communication feature that revolutionizes the
              way pets and clients interact with clinic doctors. Squeakies
              offers a streamlined process for clients to create appointments,
              ensuring prompt veterinary care. Clients can engage in real-time
              chat conversations with clinic doctors, fostering a stronger
              connection and providing a direct channel for inquiries or updates
              about their pets' health. This feature also empowers pets to
              communicate directly with their doctors, allowing them to express
              discomfort or share behavioral changes. Squeakies delivers instant
              updates and reminders, keeping both clients and pets well-informed
              about appointments, medications, and other essential information.
              It goes beyond traditional communication methods, offering an
              interactive and engaging experience for clients and their beloved
              pets. Experience a new level of connectivity and care with
              Squeakies!
            </p>
          </div>
        </div>
      </div>

      <div class="squeak-end squeak-title-border"></div>
    </div>
  </div>

  <div class="home-carousel w-50 m-auto">
    
    <div id="carouselExampleIndicators" class="carousel slide  " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active indicator rounded-circle"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          class="indicator rounded-circle"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          class="indicator rounded-circle"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
          class="indicator rounded-circle"
        ></button>
      </div>
      <div class="carousel-inner   py-5">
        <div class="carousel-item  bg-body-tertiary pb-5  active ">
          <div
            class="d-flex w-75 m-auto   flex-column justify-content-center align-items-center"
          >
            <div class="py-5 mb-2">
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
            </div>

            <div class="carousel-body pt-3 pb-5 rounded-2 mt-4 p-3 position-relative bg-white">
              <div class="carousel-img  z-1">
                <img class="c-image rounded-circle" src="../../../../assets/images/01.png" alt="">
              </div>

              <div class="carousel-text-title pt-5">
                <h6 class="text-decoration-underline text-center">Lorem, ipsum dolor.</h6>
              </div>

              <div class="carousel-text">
                <p class="squeak-par text-center pt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus esse, nostrum eveniet nam quasi placeat!</p>
              </div>
            </div>

            <div class="pt-5 w-100  position-relative">
              <p class="text-center">VET ICARE</p>
              <div class="end-img">
                <img class="w-100" src="../../../../assets/images/app-print-.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item bg-body-tertiary pb-5 ">
          <div
            class="d-flex w-75 m-auto   flex-column justify-content-center align-items-center"
          >
            <div class="py-5 mb-2">
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
            </div>

            <div class="carousel-body pt-3 pb-5 rounded-2 mt-4 p-3 position-relative bg-white">
              <div class="carousel-img  z-1">
                <img class="c-image rounded-circle" src="../../../../assets/images/02.png" alt="">
              </div>

              <div class="carousel-text-title pt-5">
                <h6 class="text-decoration-underline text-center">Lorem, ipsum dolor.</h6>
              </div>

              <div class="carousel-text">
                <p class="squeak-par text-center pt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus esse, nostrum eveniet nam quasi placeat!</p>
              </div>
            </div>

            <div class="pt-5 w-100  position-relative">
              <p class="text-center">VET ICARE</p>
              <div class="end-img">
                <img class="w-100" src="../../../../assets/images/app-print-.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item bg-body-tertiary pb-5 ">
          <div
            class="d-flex w-75 m-auto  flex-column justify-content-center align-items-center"
          >
            <div class="py-5 mb-2">
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
            </div>

            <div class="carousel-body pt-3 pb-5 rounded-2 mt-4 p-3 position-relative bg-white">
              <div class="carousel-img  z-1">
                <img class="c-image rounded-circle" src="../../../../assets/images/09.png" alt="">
              </div>

              <div class="carousel-text-title pt-5">
                <h6 class="text-decoration-underline text-center">Lorem, ipsum dolor.</h6>
              </div>

              <div class="carousel-text">
                <p class="squeak-par text-center pt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus esse, nostrum eveniet nam quasi placeat!</p>
              </div>
            </div>

            <div class="pt-5 w-100  position-relative">
              <p class="text-center">VET ICARE</p>
              <div class="end-img">
                <img class="w-100" src="../../../../assets/images/app-print-.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item bg-body-tertiary pb-5 ">
          <div
            class="d-flex w-75 m-auto   flex-column justify-content-center align-items-center"
          >
            <div class="py-5 mb-2">
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
              <i class="fas fa-star text-warning px-1"></i>
            </div>

            <div class="carousel-body pt-3 pb-5 rounded-2 mt-4 p-3 position-relative bg-white">
              <div class="carousel-img  z-1">
                <img class="c-image rounded-circle" src="../../../../assets/images/08.png" alt="">
              </div>

              <div class="carousel-text-title pt-5">
                <h6 class="text-decoration-underline text-center">Lorem, ipsum dolor.</h6>
              </div>

              <div class="carousel-text">
                <p class="squeak-par text-center pt-2">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusamus esse, nostrum eveniet nam quasi placeat!</p>
              </div>
            </div>

            <div class="pt-5 w-100  position-relative">
              <p class="text-center">VET ICARE</p>
              <div class="end-img">
                <img class="w-100" src="../../../../assets/images/app-print-.png" alt="">
              </div>
            </div>
          </div>
        </div>
      
      </div>
      <button
        class="carousel-control-prev prev-btn  "
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon ms-3 p-4 c-btn border rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next next-btn "
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon me-3 p-4 c-btn border rounded-circle " aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <div class="footer pt-5">
    <div class=" pb-3 pt-3 footer-container   m-auto position-relative">

      <div class="d-flex w-50 position-absolute footer-links justify-content-center align-items-center">
        <div class="footer-img px-1">
          <a class="text-decoration-none " href="https://www.facebook.com/VetIcareEgypt/" target="_blank">
        <i class="fas fa-brands fa-facebook fa-2xl"></i>

          </a>
        </div>
        <div class="footer-img px-1">
          <a href="https://www.instagram.com/vet.icare/?next=%2F&hl=en" target="_blank">
        <i class="fas fa-brands fa-instagram  fa-2xl"></i>

          </a>
        </div>
        <div class="footer-img px-1">
          <a href="https://api.whatsapp.com/send?phone=201033449724&text=Hello%20,%20site%20contact%20" target="_blank">
        <i class="fas fa-brands fa-whatsapp text-success fa-2xl"></i>

          </a>
        </div>
        <div class="footer-img px-1">
          <a href="mailto:support@vetIcareapp.com" target="_blank">
        <i class="fas  fa-envelope text-warning fa-2xl"></i>

          </a>
        </div>
      </div>


      

      <div class="m-auto text-center btn-div">
        <button class="p-3 m-auto footer-btn border rounded text-white"> <a href="https://docs.google.com/forms/d/e/1FAIpQLSeyYwgsXRMMiPykRRJkJQLA3AF3SWoRlfLmRGvdw6-SKi1gzw/viewform" class="text-white text-decoration-none" target="_blank">Book A Demo</a> </button>
      </div>

    </div>
  </div>



  <div class="modal fade   " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  m-0 m-auto">
      <div class="modal-content  w-100 ">
        <div class="modal-header ">
          <button type="button" class="fas fa-2x fa-arrow-left border-0 bg-transparent" data-bs-dismiss="modal" aria-label="Close"></button>

          <div class="input-group flex-nowrap w-50 mx-auto">
            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search .." aria-label="Username" aria-describedby="addon-wrapping">
          </div>
          
        </div>
        
        
      </div>
    </div>
  </div>


  
</section>
