<section class="home vh-100 ">
  <app-navbar>
    
  </app-navbar>

 



  <div class="header-home overflow-hidden d-flex justify-content-center align-items-center">
    <div class="container pt-3 mt-5">
      <div class="row g-5">
        <div class="col-md-8 text-center">
          <div class="title-border  pb-3 mx-auto">
            <h1 class="header-title home-vet text-center">
              Welcome to VetICare Connect
            </h1>
          </div>
          <div>
            <img
              class="w-100"
              src="../../../../assets/images/wepik-export-20240314091253MhfO.png"
              alt=""
            />
          </div>
        </div>
        <div class="col-md-4">
          <p class="text-home">
            Discover the Future of Veterinary Clinic Management Empower your
            clinic with VetICare Connect – The Ultimate Solution for Streamlined
            Veterinary Care.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="home-body-title py-4 text-center mx-auto home-title-border w-75">
    <p class="body-request">request demo</p>
     <a href="https://docs.google.com/forms/d/e/1FAIpQLSeyYwgsXRMMiPykRRJkJQLA3AF3SWoRlfLmRGvdw6-SKi1gzw/viewform" class="text-white text-decoration-none" target="_blank"> <button  class="w-25 px-3 demo-btn py-2 rounded text-white">Demo</button></a>
  </div>

  <div class="home-body text-center py-5">
    <div>
      <h1 class="home-title pb-2">KEY FEATURES VETICARE</h1>

      <span style="color: #000000; font-family: Arial; font-weight: 400"
        >Explore Our Comprehensive Features</span
      >
    </div>

    <div class="container py-5">
      <div class="row g-4">
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/01.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/02.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/03.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/04.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/05.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/06.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/07.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/08.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div>
            <img class="w-100" src="../../../../assets/images/09.png" alt="" />
          </div>
          <div class="picture text">
            <div class="">
              <h3 class="picture-title">
                Comprehensive Medical <br />
                Records
              </h3>
            </div>
            <div>
              <p class="picture-desc">
                Manage and access detailed medical records for each pet,
                ensuring a thorough understanding of their health history,
                medications, and treatments.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="squeak py-4 text-center">
    <div class="squeak-title">
      <p>Squeak</p>
    </div>

    <div class="py-4">
      <div class="container">
        <div class="row g-4">
          <div class="col-md-6">
            <img
              class="w-100"
              src="../../../../assets/images/dog-puppy-cute-fluffy-pet-wallpaper-preview.jpg"
              alt=""
            />
          </div>
          <div class="col-md-6 text-start pb-3">
            <h1 class="squeak-par-title mb-3 pb-2">
              Seamless Communication for Pets and Clients
            </h1>

            <p class="squeak-par pt-2">
              Squeak," our unique communication feature that revolutionizes the
              way pets and clients interact with clinic doctors. Squeakies
              offers a streamlined process for clients to create appointments,
              ensuring prompt veterinary care. Clients can engage in real-time
              chat conversations with clinic doctors, fostering a stronger
              connection and providing a direct channel for inquiries or updates
              about their pets' health. This feature also empowers pets to
              communicate directly with their doctors, allowing them to express
              discomfort or share behavioral changes. Squeakies delivers instant
              updates and reminders, keeping both clients and pets well-informed
              about appointments, medications, and other essential information.
              It goes beyond traditional communication methods, offering an
              interactive and engaging experience for clients and their beloved
              pets. Experience a new level of connectivity and care with
              Squeakies!
            </p>
          </div>
        </div>
      </div>

      <div class="squeak-end squeak-title-border"></div>
    </div>
  </div>

  <div class="home-carousel w-50  m-auto">
    
    <div id="carouselExampleIndicators" class="carousel slide  " data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="0"
          class="active indicator rounded-circle"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="1"
          aria-label="Slide 2"
          class="indicator rounded-circle"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="2"
          aria-label="Slide 3"
          class="indicator rounded-circle"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="3"
          aria-label="Slide 4"
          class="indicator rounded-circle"
        ></button>


        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="4"
          aria-label="Slide 5"
          class="indicator rounded-circle"
        ></button>


        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="5"
          aria-label="Slide 6"
          class="indicator rounded-circle"
        ></button>




        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="6"
          aria-label="Slide 7"
          class="indicator rounded-circle"
        ></button>




        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="7"
          aria-label="Slide 8"
          class="indicator rounded-circle"
        ></button>



        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="8"
          aria-label="Slide 9"
          class="indicator rounded-circle"
        ></button>



        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="9"
          aria-label="Slide 10"
          class="indicator rounded-circle"
        ></button>




        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="10"
          aria-label="Slide 11"
          class="indicator rounded-circle"
        ></button>




        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="11"
          aria-label="Slide 12"
          class="indicator rounded-circle"
        ></button>




        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="12"
          aria-label="Slide 13"
          class="indicator rounded-circle"
        ></button>




        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="13"
          aria-label="Slide 14"
          class="indicator rounded-circle"
        ></button>




        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="14"
          aria-label="Slide 15"
          class="indicator rounded-circle"
        ></button>

        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="15"
          aria-label="Slide 1"
          class="indicator rounded-circle"
        ></button>



        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="16"
          aria-label="Slide 17"
          class="indicator rounded-circle"
        ></button>

        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="17"
          aria-label="Slide 18"
          class="indicator rounded-circle"
        ></button>


        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="18"
          aria-label="Slide 19"
          class="indicator rounded-circle"
        ></button>



        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="19"
          aria-label="Slide 20"
          class="indicator rounded-circle"
        ></button>

        <button
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide-to="20"
          aria-label="Slide 21"
          class="indicator rounded-circle"
        ></button>


        
      </div>
      <div class="carousel-inner overflow-hidden   w-100">
        <div class="carousel-item   pb-5  active ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/Vets in Practice vet Clinics Egypt_11.png" alt="">
          </div>
        </div>


        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/Sphinx Veterinary Clinic_10.png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/PEThoven Clinic د علياء رمضان‎ _9.png" alt="">
          </div>
        </div>




        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/Mohamed Ezz_7.png" alt="">
          </div>
        </div>




        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/Mohamed mohey_8.png" alt="">
          </div>
        </div>




        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/Hisham Salah_6.png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/Dr Zahraa_5.png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/DR Sherif Fayez Abdallah_4.png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/DR Mohamed Mansour_3.png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/DR Eslam Selim_2.png" alt="">
          </div>
        </div>


        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/10-Jojo Petsclinic .png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/8-Dr Alyaa Ramadan Mansour.png" alt="">
          </div>
        </div>




        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/9-Dr Salem EL-Tahan.png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/7-Dr Abdallah Almotawakkel.png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/6-Dr-Mohamed Abo Ouf .png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/5-Dr Mariam Awd.png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/4-DrGehad Alasra .png" alt="">
          </div>
        </div>



        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/3-Dr Mahmoud Zaky .png" alt="">
          </div>
        </div>




        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/1-Dr Mohamed Mostafa_Done.png" alt="">
          </div>
        </div>




        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/2-Dr Mahmoud Salem_Done.png" alt="">
          </div>
        </div>




        <div class="carousel-item  pb-5 ">
          <div class="d-flex carousel-body w-75 m-auto   flex-column justify-content-center align-items-center">
            <img class="w-100" src="../../../../assets/images/Downloads/01 Luckey pet1_Done.png" alt="">
          </div>
        </div>


      
      </div>
      <button
        class="carousel-control-prev prev-btn   "
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon ms-3 p-4 c-btn border rounded-circle" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next next-btn "
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon me-3 p-4 c-btn border rounded-circle " aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <div class="footer pt-5">
    <div class=" pb-3 pt-3 footer-container   m-auto position-relative">

      <div class="d-flex w-50 position-absolute footer-links justify-content-center align-items-center">
        <div class="footer-img px-1">
          <a class="text-decoration-none " href="https://www.facebook.com/VetIcareEgypt/" target="_blank">
        <i class="fas fa-brands fa-facebook fa-2xl"></i>

          </a>
        </div>
        <div class="footer-img px-1">
          <a href="https://www.instagram.com/vet.icare/?next=%2F&hl=en" target="_blank">
        <i class="fas fa-brands fa-instagram  fa-2xl"></i>

          </a>
        </div>
        <div class="footer-img px-1">
          <a href="https://api.whatsapp.com/send?phone=201033449724&text=Hello%20,%20site%20contact%20" target="_blank">
        <i class="fas fa-brands fa-whatsapp text-success fa-2xl"></i>

          </a>
        </div>
        <div class="footer-img px-1">
          <a href="mailto:support@vetIcareapp.com" target="_blank">
        <i class="fas  fa-envelope text-warning fa-2xl"></i>

          </a>
        </div>
      </div>


      

      <div class="m-auto text-center btn-div">
         <a href="https://docs.google.com/forms/d/e/1FAIpQLSeyYwgsXRMMiPykRRJkJQLA3AF3SWoRlfLmRGvdw6-SKi1gzw/viewform" class="text-white text-decoration-none" target="_blank"> <button class="p-3 m-auto footer-btn border rounded text-white"> Book A Demo </button></a> 
      </div>

    </div>
  </div>



  <div class="modal fade   " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  m-0 m-auto">
      <div class="modal-content  w-100 ">
        <div class="modal-header ">
          <button type="button" class="fas fa-2x fa-arrow-left border-0 bg-transparent" data-bs-dismiss="modal" aria-label="Close"></button>

          <div class="input-group flex-nowrap w-50 mx-auto">
            <span class="input-group-text" id="addon-wrapping"><i class="fas fa-search"></i></span>
            <input type="text" class="form-control" placeholder="Search .." aria-label="Username" aria-describedby="addon-wrapping">
          </div>
          
        </div>
        
        
      </div>
    </div>
  </div>


  
</section>
