.active{
    background-color: rgba(31, 31, 31, 1);
    color: rgba(255, 255, 255, 1) !important;
}
.logo{
    margin-right: 0px !important;
}
nav{
    transition: all .5s;
}
.cursor{
    cursor: pointer;
}
.search-modal{
    width: 100%;
    z-index: 50;
}

.nav-icon{
    background-image: url(	"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}



@media only screen and (max-width: 800px) {

   .nav-title{
    display: none;
   }
   .nav-img{
    margin-left: 80px;
   }
   .nav-btn{
    position: absolute;
    left: 3;
    
   }

   .navbar-img{
    width: 80%;
   }
    
  }